*.o
*.lo
*.swp
configure
Makefile.in
autom4te.cache
aclocal.m4
stamp-h.in
config.h.in
config.h.in~
config.log
config.h
.libs
.deps
libmlx5.spec
Makefile
config.status
stamp-h1
libtool
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out
