# - see gitignore(5)
#
# http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
# http://git-scm.com/docs/gitignore.html
#
# - ignore files in this current directory with a leading /
# so that files with the same name is a subdirectory
# would not be ignored by mistake.
#
# per directory .gitignore would be used to ignore specific
# files/patterns
#
# - more examples can be found at
#
# https://github.com/github/gitignore
# http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files
#

# global ignore rules:
#
# backup files
#
*~

# local (eg. current directory) rules:
#
# /<pattern>

#
# files created by autoreconf (autoconf, automake, libtool)
#

/INSTALL
/config.guess
/config.sub
/missing
/depcomp
/install-sh
/configure
/aclocal.m4
/autom4te.cache/
/config.h.in
/Makefile.in
/compile
/config

#
# files created by autoscan
#

/autoscan.log
/configure.scan

#
# files created by ./configure
#

/config.h
/config.status
/config.log
/Makefile
/stamp-h1
/libtool
/librdmacm.spec
