*.o
*.lo
*~
configure
Makefile.in
autom4te.cache
aclocal.m4
stamp-h.in
config.h.in
config.log
config.h
.libs
.deps
libibverbs.spec
Makefile
config.status
stamp-h1
libtool
INSTALL
infiniband-diags.spec
include/ibdiag_version.h
doc/man/*.8
scripts/dump_lfts.sh
scripts/dump_mfts.sh
scripts/ibcheckerrors
scripts/ibcheckerrs
scripts/ibchecknet
scripts/ibchecknode
scripts/ibcheckport
scripts/ibcheckportstate
scripts/ibcheckportwidth
scripts/ibcheckstate
scripts/ibcheckwidth
scripts/ibclearcounters
scripts/ibclearerrors
scripts/ibdatacounters
scripts/ibdatacounts
scripts/ibhosts
scripts/iblinkinfo.pl
scripts/ibnodes
scripts/ibqueryerrors.pl
scripts/ibrouters
scripts/ibswitches
