[Unit]
Description=iWarp Port Mapper
Documentation=man:iwpmd file:/etc/iwpmd.conf
After=network.target

[Service]
ExecStart=/usr/bin/iwpmd --systemd
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
