[Unit]
Description=Socket for InfiniBand Address Cache Manager Daemon
Documentation=man:ibacm

[Socket]
ListenStream=6125
BindToDevice=lo

[Install]
WantedBy=sockets.target
