Source: libibverbs
Priority: extra
Maintainer: Roland Dreier <rolandd@cisco.com>
Build-Depends: cdbs (>= 0.4.25-1), debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libibverbs2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: A library for direct userspace use of InfiniBand
 libibverbs is a library that allows userspace processes to use
 InfiniBand "verbs" as described in the InfiniBand Architecture
 Specification.  InfiniBand is a high-throughput, low-latency
 networking technology.  InfiniBand host channel adapters (HCAs)
 commonly support direct hardware access from userspace (kernel
 bypass), and libibverbs supports this when available.
 .
 For this library to be useful, a device-specific plug-in module
 should also be installed.
 .
 This package contains the shared library.
 .
  Homepage: http://www.openfabrics.org/

Package: libibverbs-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libibverbs2 (= ${Source-Version})
Description: Development files for the libibverbs library
 libibverbs is a library that allows userspace processes to use
 InfiniBand "verbs" as described in the InfiniBand Architecture
 Specification.  InfiniBand is a high-throughput, low-latency
 networking technology.  InfiniBand host channel adapters (HCAs)
 commonly support direct hardware access from userspace (kernel
 bypass), and libibverbs supports this when available.
 .
 This package is needed to compile programs against libibverbs2.
 It contains the header files and static libraries (optionally)
 needed for compiling.
 .
  Homepage: http://www.openfabrics.org/

Package: libibverbs2-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libibverbs2 (= ${Source-Version})
Description: Debugging symbols for the libibverbs library
 libibverbs is a library that allows userspace processes to use
 InfiniBand "verbs" as described in the InfiniBand Architecture
 Specification.  InfiniBand is a high-throughput, low-latency
 networking technology.  InfiniBand host channel adapters (HCAs)
 commonly support direct hardware access from userspace (kernel
 bypass), and libibverbs supports this when available.
 .
 This package contains the debugging symbols associated with
 libibverbs2. They will automatically be used by gdb for debugging
 libibverbs-related issues.
 .
  Homepage: http://www.openfabrics.org/

Package: ibverbs-utils
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Examples for the libibverbs library
 libibverbs is a library that allows userspace processes to use
 InfiniBand "verbs" as described in the InfiniBand Architecture
 Specification.  InfiniBand is a high-throughput, low-latency
 networking technology.  InfiniBand host channel adapters (HCAs)
 commonly support direct hardware access from userspace (kernel
 bypass), and libibverbs supports this when available.
 .
 This package contains useful libibverbs2 example programs such as
 ibv_devinfo, which displays information about InfiniBand devices.
 .
  Homepage: http://www.openfabrics.org/
