*.o
*~
.deps
.dirstamp
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
src/ibsrpdm
srptools.spec
srp_daemon/srpd
srp_daemon/srp_daemon
stamp-h1
