# files produced by ./configure
/.deps

# files produced by make (libtool)
/*.o
/*.lo
/*.la
/.libs
/.dirstamp

/cmtime
/mckey
/rcopy
/rdma_client
/rdma_server
/rdma_xclient
/rdma_xserver
/riostream
/rping
/rstream
/ucmatose
/udaddy
/udpong
