[Unit]
Description=Starts the InfiniBand Address Cache Manager daemon
Documentation=man:ibacm
Requires=rdma.service
After=rdma.service opensm.service

[Service]
Type=forking
ExecStart=/usr/sbin/ibacm

[Install]
WantedBy=network.target
